name: CI

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  release:
    types: published

env:
  CFLAGS: -Wno-error=implicit-function-declaration

jobs:
  #-----------------------------------------------------------------------------
  test:
    name: Test / ${{ matrix.os.name }} / Python ${{ matrix.python.version }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - {name: 'ubuntu-22.04', pip_cache: '~/.cache/pip'}
          - {name: 'windows-2022', pip_cache: '~\AppData\Local\pip\Cache'}
          - {name: 'macos-13', pip_cache: '~/Library/Caches/pip'}
        python:
          - {version: '3.10', extras: '.[dev]'}
          - {version: '3.11', extras: '.[dev]'}
          - {version: '3.12', extras: '.[dev]'}
          - {version: '3.13', extras: '.[dev]'}
          - {version: '3.14', extras: '.[dev]'}

    runs-on: ${{ matrix.os.name }}

    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-python@master
      with:
        python-version: ${{ matrix.python.version }}

    - uses: actions/cache@v4
      with:
        path: ${{ matrix.os.pip_cache }}
        key: test-pip-${{ matrix.os.name }}-${{ matrix.python.version }}-${{ hashFiles('pyproject.toml', '.github/workflows/ci.yml') }}
        restore-keys: test-pip-${{ matrix.os.name }}-${{ matrix.python.version }}-

    - run: |
        python -m pip install --upgrade pip
        pip install "${{ matrix.python.extras }}"

    - run: nox -s test

  #-----------------------------------------------------------------------------
  checks:
    name: ${{ matrix.checks.name }} / ${{ matrix.os.name }} / Python ${{ matrix.python.version }}
    strategy:
      fail-fast: false
      matrix:
        os:
            - {name: 'ubuntu-22.04', pip_cache: '~/.cache/pip'}
        python:
            - {version: '3.14', extras: '.[dev]'}
        checks:
            - {name: 'Quality', command: 'nox -s quality'}
            - {name: 'Package', command: 'nox -s build'}

    runs-on: ${{ matrix.os.name }}

    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-python@master
      with:
        python-version: ${{ matrix.python.version }}

    - uses: actions/cache@v4
      with:
        path: ${{ matrix.os.pip_cache }}
        key: quality-pip-${{ hashFiles('pyproject.toml', '.github/workflows/ci.yml') }}
        restore-keys: quality-pip-

    - run: |
        python -m pip install --upgrade pip
        pip install "${{ matrix.python.extras }}"

    - run: ${{ matrix.checks.command }}

    - uses: actions/upload-artifact@v4
      if: matrix.checks.name == 'Package'
      with:
        name: dist
        path: dist

  #-----------------------------------------------------------------------------
  upload:
    name: Publish
    if: github.event_name == 'release'

    needs: [test, checks]
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: dist
          path: dist
      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_TOKEN }}
          skip_existing: true
